@import 'bourbon';
@import 'neat';
@import "../libs/lumx/dist/scss/lumx";

// ------------------------------------------------------------
// Override Neat's grid settings
// ------------------------------------------------------------

$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 3) !default; // Gutter between each two columns

// ------------------------------------------------------------
// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid
// ------------------------------------------------------------

$fg-column: $column;
$fg-gutter: $gutter;

// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@font-face {
    font-family: 'jedi';
    src: url('../fonts/Starjedi.ttf');
}

@font-face {
    font-family: 'jedi-outline';
    src: url('../fonts/Starjhol.ttf');
}

@font-face {
    font-family: 'jedi-subtitle';
    src: url('../fonts/Typo Grotesk Demo.otf');
}

@font-face {
	font-family: 'biko';
	src: url('../fonts/Biko_Regular.otf');
}

html {
	font-family: "biko";
	@include media-query(palm) {
    	font-size: 80%;
	}
}

header, .view-container, .content, footer {
	z-index: 10;
}

header {
	height: 200px;
	@include media-query(palm) {
    	height: 150px;
	}
}

.view-container {
	min-height: calc(100vh - 300px);
}

footer {
	font-size: .75em;
	color: $white;
	width: 80%;
	margin: 0 auto;
	clear: both;
	height: 100px;
	display: table;
	
	@include media-query(palm) {
    	padding-top: 2em;
	}

	.footer-content {
		display: table-cell;
		vertical-align: bottom;
	}
	.copyright {
		float: right;
		letter-spacing: .25em;
		@media (max-width: 900px) {
			float: none;
			text-align: center;
		}
	}
	.find-me {
		padding-bottom: 2em;
		@media (max-width: 900px) {
			text-align: center;
		}
	}
	.follow {
		letter-spacing: .25em;
		margin-right: 1em;
	}

	.disclaimer {
		text-align: center;
		padding-bottom: 1em;
	}
}

footer a{
	&:link, &:visited, &[href]:hover, &:active{
		color: $light-blue-200;
		text-decoration: none;
	}
}

.find-me a {
	margin-right: 1em;
}

.logo {
	text-align: center;
}

.title {
	font-family: "jedi-outline";
	font-size: 4em;
}

.subtitle {
	font-family: 'jedi-subtitle';
	letter-spacing: .75em;
	font-size: .75em;
	color: $white;
	margin-top: -1em;
	margin-bottom: -2em;
}

.category {
	margin-top: 2em;
	margin-bottom: 2em;
	@include span-columns(4);
	@include omega(3n);
	@include media-query(palm) {
    	@include span-columns(12);
    	margin-top: 0;
    	margin-bottom: 0;
	}
}

.category-image {
	width: 100%;
}

.category-title {
	font-size: 1.2em;
	margin-left: -16px;
	margin-right: -16px;
	padding-left: 1em;
	background-color: rgba(0, 0, 0, 0.4);	
}

.content {
	width: 80%;
	margin: auto;
	@media (max-width: 600px) {
    	width: 100%;
	}
}

.response-container {
	margin: auto;
	clear: both;
	margin-top: 2em;
}

.badge {
	margin-bottom: 1em;
	@include span-columns(12/5);
	@include omega(5n);

	@include media-query(palm) {
		@include omega-reset(5n);
    	@include span-columns(6);
    	@include omega(2n);
	}

	a {
		text-decoration: none;
	}
}

.details-badge {
	margin-bottom: 2em;
	height: 20em;
	@media (max-width: 850px) {
		height: auto;
	}

	.details-image {
		background-position: center 20%;
		background-size: cover;
		height: 100%;
		@include span-columns(4);
		@media (max-width: 850px) {
			height: 20em;
		}
		@media (min-width: 1400px) {
			@include span-columns(3);
		}
		
		
	}

	.details-text {
		height: 100%;
		@include span-columns(8);
		@include omega();
		@media (min-width: 1400px) {
			@include span-columns(9);
			@include omega();
		}
	}

}

.wide {

	.details-image {
		background-position: center 30%;
		@include span-columns(6);
		@media (max-width: 850px) {
			@include span-columns(12);
			height: 400px;
		}
		@media (max-width: 500px) {
			height: 250px;
		}
		@media (min-width: 1200px) {
			@include span-columns(5);
		}
		@media (min-width: 1600px) {
			@include span-columns(4);
		}
	}
	.details-text {
		@include span-columns(6);
		@include omega();
		@media (max-width: 850px) {
			@include span-columns(12);
		}
		@media (min-width: 1200px) {
			@include span-columns(7);
			@include omega();
		}
		@media (min-width: 1600px) {
			@include span-columns(8)
			@include omega();
		}
	}
}

.jedi-font {
	font-family: 'jedi';
}

.nav-container {
	@include media-query(palm) {
		display: table;
		width: 100%;
		padding: 0 1em;
		breadcrumbs {
			display: table-header-group;
		}
		pagination {
			display: table-footer-group;
		}
	}
}

.breadcrumbs {
	color: $white;
	letter-spacing: .75em;
	margin-bottom: 2em;
	@media (max-width: 600px) {
		margin-left: 1em;
	}
	
	a:link, a:visited, a[href]:hover, a:active {
		color: $light-blue-200;
		text-decoration: none;
	}
}

.breadcrumb--capitalize {
	text-transform: capitalize;
}

.pagination {
	float: right;
	display: inline-block;

	.numbers {
		margin-right: 1.2em;
		vertical-align: baseline;
	}

	.chevron {
		font-size: 1.2em;

		&:first-of-type {
			margin-right: .7em;
		}
	}
}

.crumb {
	display: inline-block;
}

a {
	&:link, &:visited, &[href]:hover, &:active {
		color: $light-blue-600;
		text-decoration: none;
	}

}

related-links {
	display: block;
	margin-bottom: 1em;
	@media (min-width: 1300px) {
		@include span-columns(4);
		@include omega(3n);
		.card {
			min-height: 244px;
		}
	}
	@media (min-width: 1000px) and (max-width: 1300px) {
		@include span-columns(6);
		@include omega(2n);
		.card {
			min-height: 244px;
		}
	}
}

.list {
	overflow: auto;
	padding: .5em 0;
	min-height: 118px;
}

.list-item {
	@include span-columns(12/5);
	max-width: 80px;
}

.link-name {
	text-align: center;
	font-size: .75em;
}

.link-icon img {
	width: 40;
	margin-left: auto;
	margin-right: auto;
}

.list-paginate {
	text-align: center;
	margin: 1em auto;
	button {
		vertical-align: middle;
	}
}

.help {
	position: absolute;
	left: 15%;
	top: 2em;
	@include media-query(palm) {
    	display: none;
	}
}

.loading > * {
	display: table-cell;
	vertical-align: middle;
}




