@import 'bourbon';
@import 'neat';
@import "../libs/lumx/dist/scss/lumx";

@font-face {
    font-family: 'jedi';
    src: url('../fonts/Starjedi.ttf');
}

@font-face {
    font-family: 'jedi-outline';
    src: url('../fonts/Starjhol.ttf');
}

@font-face {
    font-family: 'jedi-subtitle';
    src: url('../fonts/Typo Grotesk Demo.otf');
}

@font-face {
	font-family: 'biko';
	src: url('../fonts/Biko_Regular.otf');
}

html {
	font-family: "biko";
}

.logo {
	text-align: center;
}

.title {
	font-family: "jedi-outline";
	font-size: 6em;
}

.subtitle {
	font-family: 'jedi-subtitle';
	letter-spacing: .75em;
	color: $white;
	margin-top: -1em;
	margin-bottom: -2em;
}

.categories-container {
	margin: auto;
	width: 90%;
}

.category {
	margin-bottom: 2em;
	@include span-columns(2);
	@include media-query(palm) {
		@include span-columns(12);
	}
	@include media-query(portable) {
    	@include span-columns(4);
    	@include omega(3n);
	}
	
}

.category-image {
	width: 100%;
}

.category-title {

	@include media-query(desk) {
    	font-size: 1em;
	}

	@include media-query(full-hd) {
    	font-size: 1.5em;
	}
	
}

.content {
	width: 90%;
	margin: auto;
}

.response-container {
	width: 70%;
	margin: auto;
	clear: both;
	margin-top: 2em;
}

.badge {
	margin-bottom: 1em;
	@include span-columns(12/5);
	@include omega(5n);

	a {
		text-decoration: none;
	}
}

.height-300 {
	height: 300px;
}

.height-400 {
	height: 400px;
}

.jedi-font {
	font-family: 'jedi';
}

.breadcrumbs {
	color: $white;
	letter-spacing: .75em;
	margin: 1em;
	margin-right: 10em;
	display: inline-block;
	
	a:link, a:visited, a:hover, a:active {
		color: $light-blue-200;
		text-decoration: none;
	}

}

.breadcrumb--capitalize {
	text-transform: capitalize;
}

.pagination {
	text-align: right;
	display: inline-block;

	.numbers {
		margin-right: 1.5em;
		vertical-align: baseline;
	}

	.current-page {
		color: $white;
		letter-spacing: .25em;
		font-size: 1.4em;
		margin-right: 2em;
	}
}

.crumb {
	display: inline-block;
}
