@import "../libs/lumx/dist/scss/lumx";

@font-face {
    font-family: 'jedi';
    src: url('../fonts/Starjedi.ttf');
}

@font-face {
    font-family: 'jedi-outline';
    src: url('../fonts/Starjhol.ttf');
}

@font-face {
    font-family: 'jedi-subtitle';
    src: url('../fonts/Typo Grotesk Demo.otf');
}

html {
	font-family: "jedi-subtitle";
}

.logo {
	text-align: center;
}

.title {
	font-family: "jedi-outline";
	font-size: 6em;
}

.subtitle {
	letter-spacing: .75em;
	color: $white;
	margin-top: -1em;
	margin-bottom: -2em;
}

.categories-container {
	margin: auto;
	width: 90%;
}

.category-image {
	width: 100%;
}

.jedi-font {
	font-family: 'jedi';
}

.breadcrumbs {
	color: $white;
	letter-spacing: .75em;
	margin: 1em;
	
	a:link, a:visited, a:hover, a:active {
		color: $light-blue-200;
		text-decoration: none;
	}

}