<div class="categories-container" flex-container="row" flex-gutter="24">
	<div flex-item class="category">
		<a href="#/characters">
			<div class="card">
				<div class="card__img card__img--top">
                	<img class="category-image" src="assets/img/categories/character.jpg">
                	<span class="fs-headline tc-red-600 display-block jedi-font">Characters</span>
            	</div>
			</div>
		</a>
	</div>
	<div flex-item class="category">
		<a href="#/films">
			<div class="card">
				<div class="card__img card__img--top">
                	<img class="category-image" src="assets/img/categories/films.jpg">
                	<span class="fs-headline tc-yellow-400 display-block jedi-font">Films</span>
            	</div>
			</div>
		</a>
	</div>
	<div flex-item class="category">
		<a href="#/species">
			<div class="card">
				<div class="card__img card__img--top">
                	<img class="category-image" src="assets/img/categories/species.jpg">
                	<span class="fs-headline tc-deep-orange-600 display-block jedi-font">Species</span>
            	</div>
			</div>
		</a>
	</div>
	<div flex-item class="category">
		<a href="#/character">
			<div class="card">
				<div class="card__img card__img--top">
                	<img class="category-image" src="assets/img/categories/starships.jpg">
                	<span class="fs-headline tc-white-1 display-block jedi-font">Starships</span>
            	</div>
			</div>
		</a>
	</div>
	<div flex-item class="category">
		<a href="#/character">
			<div class="card">
				<div class="card__img card__img--top">
                	<img class="category-image" src="assets/img/categories/vehicles.jpg">
                	<span class="fs-headline tc-blue-900 display-block jedi-font">`ehicles</span>
            	</div>
			</div>
		</a>
	</div>
	<div flex-item class="category">
		<a href="#/character">
			<div class="card">
				<div class="card__img card__img--top">
                	<img class="category-image" src="assets/img/categories/planets.jpg">
                	<span class="fs-headline tc-yellow-400 display-block jedi-font">Planets</span>
            	</div>
			</div>
		</a>
	</div>
</div>