<div class="content">
	<div class="category">
		<a href="#/characters?page=1">
			<div class="card">
				<div id="character" class="card__img card__img--top">
                	<img class="category-image" src="assets/img/categories/character.jpg">
                	<span class="category-title tc-red-600 display-block jedi-font">Characters</span>
            	</div>
			</div>
		</a>
	</div>
	<div class="category">
		<a href="#/films?page=1">
			<div class="card">
				<div id="films" class="card__img card__img--top">
                	<img class="category-image" src="assets/img/categories/films.jpg">
                	<span class="category-title tc-yellow-400 display-block jedi-font">Films</span>
            	</div>
			</div>
		</a>
	</div>
	<div class="category">
		<a href="#/species?page=1">
			<div class="card">
				<div id="species" class="card__img card__img--top">
                	<img class="category-image" src="assets/img/categories/species.jpg">
                	<span class="category-title tc-deep-orange-600 display-block jedi-font">Species</span>
            	</div>
			</div>
		</a>
	</div>
	<div class="category">
		<a href="#/starships?page=1">
			<div class="card">
				<div id="starships" class="card__img card__img--top">
                	<img class="category-image" src="assets/img/categories/starships.jpg">
                	<span class="category-title tc-white-1 display-block jedi-font">Starships</span>
            	</div>
			</div>
		</a>
	</div>
	<div class="category">
		<a href="#/vehicles?page=1">
			<div class="card">
				<div id="vehicles" class="card__img card__img--top">
                	<img class="category-image" src="assets/img/categories/vehicles.jpg">
                	<span class="category-title tc-blue-200 display-block jedi-font">`ehicles</span>
            	</div>
			</div>
		</a>
	</div>
	<div class="category">
		<a href="#/planets?page=1">
			<div class="card">
				<div id="planets" class="card__img card__img--top">
                	<img class="category-image" src="assets/img/categories/planets.jpg">
                	<span class="category-title tc-yellow-400 display-block jedi-font">Planets</span>
            	</div>
			</div>
		</a>
	</div>
</div>