<div flex-item class='related-card'>
    <div class="card">
        <div class="p+">
            <strong class="fs-headline display-block">Related {{category}}</strong>
        </div>
        <div class="divider divider--dark"></div>
        <ul class="list p+">
            <li ng-repeat='item in chunk' class="list-row list-row--has-separator">
                <div class="list-row__primary">
                    <img ng-src="{{item.img_url}}" width="40" height="40" class="img-round" onerror="this.src='./assets/img/placeholder-small.jpg'">
                </div>

                <div class="list-row__content">
                    <a class='card-link' ng-href='{{item.url}}'>{{item.name}}</a>
                </div>
            </li>
        </ul>
        <div class="divider divider--dark" ng-hide='totalPages === 1'></div>
        <div class='list-paginate'>
            <button 
                ng-click='loadPrevious()' 
                ng-hide='currentPage === 1' 
                class="btn btn--m btn--black btn--icon" 
                lx-ripple>
                <i class="mdi mdi-chevron-left"></i>
            </button>
            <span ng-show='currentPage === totalPages && totalPages > 1'>Previous</span>
            <span ng-show='currentPage === 1 && totalPages > 1'>Next</span>
            <button 
                ng-click='loadNext()' 
                ng-hide='currentPage === totalPages' 
                class="btn btn--m btn--black btn--icon" 
                lx-ripple>
                <i class="mdi mdi-chevron-right"></i>
            </button>
        </div>
    </div>
</div>