<div class="content">
	<div class='nav-container'>
		<breadcrumbs 
			crumbs='crumbs'
			page-title='{{pageTitle}}'>
		</breadcrumbs>
	</div>
	<div flex-container="row" flex-gutter="24">
		<div flex-item>
			<details-badge 
				img-url='film.img_url'
				header='film.name'>
				Date Created: {{film.date}}<br>
				Director: {{film.director}}<br>
				Producer(s): {{film.producer}}<br>
				Opening Crawl:<br> {{film.crawl}}
			</details-badge>
		</div>
	</div>
	<div class='related-container'>
		<related-links
			class='related-card'
			header='Related Characters'
			factory='characterFactory'
			urls='film.characterUrls'>
		</related-links>
		<related-links
			class='related-card'
			header='Related Planets'
			factory='planetsFactory'
			urls='film.planetUrls'>
		</related-links>
		<related-links
			class='related-card'
			header='Related Vehicles'
			factory='vehiclesFactory'
			urls='film.vehicleUrls'>
		</related-links>
		<related-links
			class='related-card'
			header='Related Starships'
			factory='starshipsFactory'
			urls='film.starshipUrls'>
		</related-links>
		<related-links
			class='related-card'
			header='Related Species'
			factory='speciesFactory'
			urls='film.speciesUrls'>
		</related-links>
		</div>
</div>