<div class="content">
	<breadcrumbs 
		crumbs='crumbs'
		page-title = '{{pageTitle}}'>
	</breadcrumbs>
	<div flex-container="row" flex-gutter="24">
		<div flex-item>
			<details-badge 
				img-url='film.img_url'
				header='film.name'>
				Date Created: {{film.date}}<br>
				Director: {{film.director}}<br>
				Producer(s): {{film.producer}}<br>
				Opening Crawl:<br> {{film.crawl}}
			</details-badge>
		</div>
	</div>
	<related-links
		class='related-card'
		category='Characters'
		data='film.characters'>
	</related-links>
	<related-links
		class='related-card'
		category='Planets'
		data='film.planets'>
	</related-links>
	<related-links
		class='related-card'
		category="Vehicles"
		data='film.vehicles'>
	</related-links>
	<related-links
		class='related-card'
		category='Starships'
		data='film.starships'>
	</related-links>
	<related-links
		class='related-card'
		category='Species'
		data='film.species'>
	</related-links>
</div>