<div class="characters-container">
    <div class="breadcrumbs fs-title">
        <a href="#/">Home</a> / Characters
    </div>
    <pagination 
        current-page="currentPage"
        pages="pages"
        click-action="getNewPage(newPageNumber)">
    </pagination>
    <div class="characters">
        <div class="person" ng-repeat="person in characters">
            <a ng-href="#/characters/{{person.id}}">
                <div class="card">
                    <div class="card__img card__img--left characters-height">
                        <img ng-src="{{person.img_url}}" onerror="  this.src='/assets/img/placeholder.jpg'">
                    </div>
                    <div class="p+">
                        <span class="fs-subhead tc-black-2 display-block">{{person.name}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
