<div class="content">
	<breadcrumbs 
		crumbs='crumbs'
		page-title='{{pageTitle}}'>
	</breadcrumbs>
	<div flex-container="row" flex-gutter="24">
		<div flex-item>
			<details-badge 
				img-url='person.img_url'
				header='person.name'>
				Birth Year: {{person.birth_year}}<br>
				Height: {{person.height.number}}{{person.height.unit}}<br>
				Mass: {{person.mass.number}}{{person.mass.unit}}<br>
				Gender: {{person.gender}}<br>
				Hair Color: {{person.hair_color}}<br>
				Skin Color: {{person.skin_color}}<br>
				Homeworld: <a class='card-link' ng-href="{{person.planets[0].url}}">{{person.planets[0].name}}</a>
			</details-badge>
		</div>
	</div>
</div>
